*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg , #00feba , #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search {
    background-color: #fff;   
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
 
}
.search input{
    border: none;
    outline: none;
    color: #555;
    padding: 12px;
    font-size: 15px;
    
}
.search button{
    border: none;
    color: #00cf98;
    background-color: #fff;
    padding: 12px;
    font-size: 17px;
    font-weight: 600;   
}
.error{
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    display: none;
}
.weather{
    display: none;
}
.weather img{
    margin-top: 40px;
    width: 50%;
}
.weather h1{
 font-size: 80px;
 font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-right: 10px;
    filter: invert(1) brightness(2);
}
.humidity , .wind{
    font-size: 28px;
    margin-top: 30px;
}