*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
    box-sizing: border-box;
}
body{
    color: white;
    background: #444;
}
h1{
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1.6px;
    text-decoration:underline 2px #ffc86b;
    text-underline-offset: 5px;
}
h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

header{
    height:auto;
    background: #333;
    box-shadow: 7px 10px 15px 0px #000 ;
}

/* ******Nav****** */


.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.38vw;
}

.nav h1{
    font-size: 28px;
}

.nav ul{
    display: flex;
    gap: 3vw;    
    list-style-type: none;
    font-size: 14px;
}

.nav i{
    font-size: 20px;
    cursor: pointer;
}

/* ******Landing Text****** */

.left-right{
    display: flex;
    /* justify-content: space-between; */
}


.left{
    width: 50%;
    height:45vw ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left h1{
    color: #ffc86b;
    font-family:monospace;
    font-size: 45px;
    margin-left: 8px;
    margin-bottom: 14px;
    text-decoration: none;
    
}
.left button{
    outline: none;
    background: transparent;
    color: #fff;
    border:3px solid #ffc86b ;
    border-radius: 8px;
    margin-top: 18px;
    padding: 8px 18px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.right{
    height:45vw ;
    display: flex;
}
.right ul{
    list-style-type: none;
    margin: 20px;
    text-align: center;
}
.contact-icons li{
    margin-top: 20px;
}
.line{
    height: 50px;
    border: 2px solid #ffc86b;
    width: 0;
    margin-left: 6px;

}

.contact-icons{
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-right: 1px solid #ffc86b;
}


.right img{
    height: 100%;
    border-right: 1px solid #ffc86b;
}
/* *****About Me ****** */


.about-me{
    width: 90%;
    margin: auto;   
    padding: 5vw; 
    border-bottom: 2px solid #555;
}
.about-text{
    display: flex;
    gap: 10px;
    margin-top: 18px;
}
.about-me h1{
    font-size: 36px;
}
.about-me span{
    color: #ffc86b;
    font-size: 22px;
}
.about-text i{
    letter-spacing: -9px;
}

/* ******Skills****** */


.skills{
    padding: 50px;
    border-bottom: 2px solid #555;

}
.skills h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 38px;
    margin: auto;
    width: 60%;
    gap: 6vw;    
    list-style-type: none;
    font-size: 14px;
}
.skills img{
    height: 160px;
    background: #555;
    padding: 36px;
    border-radius: 8px;
    box-shadow: 7px 10px 10px 0px #222 ;

}

/* ******projects****** */

.projects{
    padding: 50px;
    text-align: center;
}
.projects h1{
    font-size: 36px;
}
.projects h2{
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 70px;
}

.carousel-container {
    position: relative;
    max-width: 46vw;
    height:auto ;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;

  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;

  }
  
  .carousel-item img {
    width: 100%;
    height: 24vw;
    object-fit: cover;
    border: 2px solid #ffc86b;
    border-radius: 10px;

  }
  .carousel-item p{
    margin-top: 6px;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .left-btn {
    left: 10px;
  }
  
  .right-btn {
    right: 10px;
  }
  .projects span{
    position: absolute;
    top: 80%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.4rem;
    display: none;
  }
  


  /* ***********Footer********* */
  footer{
    background-color: #333;
    padding: 50px 0;
    text-align: center;
    
  }
  footer h1{
    position: relative;
    top: 35px;
    background-color: #333;
    display: inline;
    padding: 20px;
    text-decoration: none;
  }
  .contact-me {
    text-align: center;
    margin: 20px 0;
    padding: 40px;
    /* background-color: #444;  */
    color: #fff; 
    border-top: 2px solid #ffa500;
    border-bottom: 2px solid #ffa500;
  }
  
  .contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
    margin-bottom: 20px;
    width: 40%;
    margin: 0 auto;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 14px;
    border-radius: 5px;
    background-color: #444;
    cursor: pointer;
  }
  
  .contact-item i {
    font-size: 1.5rem;
  }
  
.contact-item span{
    color: #ffc86b;
}