*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  
body{
    color: white;
    background: #444;
}

h1{
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1.6px;
    text-decoration:underline 2px #ffc86b;
    text-underline-offset: 5px;
}
h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

header{
    height:auto;
    background: #333;
    box-shadow: 7px 10px 15px 0px #000 ;
}

/* ******Nav****** */


.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.38vw;
}

.nav h1{
    font-size: 28px;
}

.nav ul{
    display: flex;
    list-style-type: none;
    font-size: 14px;
    gap: 2vw;
}
.nav a{
    text-decoration: none;
    color: white;
}
.icons{
    display: flex;
    font-size: 14px;
    gap: 2.4vw;
}


#toastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast{
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    color: #000;
    /* margin: 15px 0; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation:  moveleft 0.5s linear forwards;
    
}
@keyframes moveleft{
    100%{
        transform: translateX(0);
    }
}
.toast i{
    margin:  0 20px;
    font-size: 35px;
    color: green;
}
.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: green;
    animation:  anim 5s linear forwards;
}
@keyframes anim{
    100%{
        width: 0;
    }
}

.menu-icon{
    display: none;
}

.nav i{
    font-size: 20px;
    cursor: pointer;
}

/* ******Landing Text****** */

.left-right{
    display: flex;
}


.left{
    width: 50%;
    height:45vw ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:3vw ;

}
.left h1{
    color: #ffc86b;
    font-family:monospace;
    font-size: 45px;
    margin-left: 8px;
    margin-bottom: 14px;
    text-decoration: none;
    
}
.left button{
    outline: none;
    background: transparent;
    color: #fff;
    border:3px solid #ffc86b ;
    border-radius: 8px;
    margin-top: 18px;
    padding: 8px 18px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.resume-btn:hover {
    background-color: #ffc86b;
    color: white;
    font-weight: 600;
}

.right{
    height:45vw ;
    display: flex;
}
.right ul{
    list-style-type: none;
    margin: 10px;
    text-align: center;
}
.welcome-msg li{
    margin-top: 20px;
}
.line{
    height: 50px;
    border: 2px solid #ffc86b;
    width: 0;
    margin-left: 12px;

}

.welcome-msg{
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-right: 1px solid #ffc86b;
}


.right img{
    height: 100%;
    border-right: 1px solid #ffc86b;
    margin-left: 4vw;
}
/* *****About Me ****** */


.about-me{
    width: 90%;
    margin: auto;   
    padding: 5vw; 
    border-bottom: 2px solid #555;
}
.about-text{
    display: flex;
    gap: 10px;
    margin-top: 18px;
}
.about-me h1{
    font-size: 36px;
}
.about-me span{
    color: #ffc86b;
    font-size: 22px;
}
.about-text i{
    letter-spacing: -9px;
}

/* ******Skills****** */


.skills{
    padding: 50px;
    border-bottom: 2px solid #555;

}
.skills h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 38px;
    margin: auto;
    width: 60%;
    gap: 6vw;    
    list-style-type: none;
    font-size: 14px;
}
.skills img{
    height: 160px;
    background: #555;
    padding: 36px;
    border-radius: 8px;
    box-shadow: 7px 10px 10px 0px #222 ;

}
.skills img:hover{
    background-color: #ffc86b;
}

/* ******projects****** */

.projects{
    padding: 50px;
    text-align: center;
}
.projects h1{
    font-size: 36px;
}
.projects h2{
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 70px;
}

.carousel-container {
    position: relative;
    max-width: 46vw;
    height:auto ;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;

  }
  
  .carousel-item {
    position: relative;
    min-width: 100%;
    box-sizing: border-box;

  }
  
  .carousel-item img {
    width: 100%;
    height: 24vw;
    object-fit: cover;
    border: 2px solid #ffc86b;
    border-radius: 10px;

  }
  .carousel-item p{
    margin-top: 6px;
    font-size: 1.2vw;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24vw;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .carousel-item:hover .overlay {
    opacity: 1;
  }
  .open-project,
    .github-link {
      background: #fff;
      border: none;
      border-radius: 50px;
      padding: 10px 20px;
      margin: 5px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .open-project:hover,
    .github-link:hover {
      background: #ffc86b;
      color: #fff;
      font-weight: 600;
    }
  
  .carousel-btn {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1vw;
  }
  
  .left-btn {
    left: 10px;
  }
  
  .right-btn {
    right: 10px;
  }
  .projects span{
    position: absolute;
    top: 74%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.4rem;
    font-size: 1vw;
    display: none;
  }
  


  /* ***********Footer********* */
  footer{
    background-color: #333;
    padding: 50px 0;
    text-align: center;
    
  }
  footer h1{
    position: relative;
    top: 35px;
    background-color: #333;
    display: inline;
    padding: 20px;
    text-decoration: none;
  }
  .contact-me {
    text-align: center;
    margin: 20px 0;
    padding: 40px;
    color: #fff; 
    border-top: 2px solid #ffc86b;
    border-bottom: 2px solid #ffc86b;
  }
  
  .contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
    margin-bottom: 20px;
    width: 40%;
    margin: 0 auto;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 14px;
    border-radius: 5px;
    background-color: #444;
    cursor: pointer;
    color: #ffc86b;

  }
  
  .contact-item i {
    font-size: 1.5rem;
    color: #fff;
  }
  
.contact-item:hover{
    background-color: #ffc86b;
    color: white;
}


/****************** sidebar ****************/

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: #66666648;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    visibility:hidden;
    
}
.sidebar i {
    width: 100%;
}
.sidebar a{
    width: 100%;
    margin-top: 35px;
    padding: 0 30px;
}


@media (max-width:825px){
    .nav{
        height: 6vw;
    }

    .menu-icon{
        display: inline;
    }
    .nav-btns li{
        display: none;
    }
    .left-right{
        justify-content: space-between;
    }
    .left{
        height: 60vw;
        padding-left:5vw ;
    } 
    .right{
        height: 60vw;
    }
    .welcome-msg{
        display: none;
    }
    .right img{
        border: none;
    }
    .left h1{
        font-size: 36px;
    }
    .left h2{
        font-size: 24px;
    }
    .left p{
        font-size: 15px;
    }
    .left button{
        font-size: 15px;
    }
    .carousel-container{
        max-width: 68vw;
    }
    .carousel-item img{
        height: 35vw;
    }
    .overlay{
        height: 35vw;
    }
    .carousel-item p{
        font-size:2vw;
    }
    .carousel-btn{
        font-size: 1.6vw;
    }
    .projects span{
        top: 70%;
        font-size: 1.6vw;
    }
    .contact-details{
        width: 70%;
    }
}
@media (max-width:600px){
    h1{
        font-size: 26px;
    }
    .about-me h1{
        font-size: 26px;
        margin-top: 20px;

    }
    
    .nav{
        height: 10vw;
        padding-top: 10px;
    }
    .nav h1{
        font-size: 25px;
    }
    .menu-icon{
        display: inline;
    }
    .nav-btns li{
        display: none;
    }
    .icons i{
        font-size: 18px;

    }
    .toast{
        width: 250px;
        height: 45px;
        font-size: 16px;
    }
    .toast i{
        margin:  0 20px;
        font-size: 25px;
        color: green;
    }
    header{
        height: 100%;
    }
    .left-right{
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }
    .left{
        height: 100%;
        width: 100%;
        padding:25px;
        padding-bottom: 0;
        margin-top: 20px;
    } 
    .right{
        height: 450px;
        width: 100%;
        overflow-x: hidden;
        overflow-y:auto;
    }
    .welcome-msg{
        display: none;
    }
    .right img{
        height: 100%;
        border: none;
        margin-left: auto;
    }
    .left h1{
        font-size: 36px;
    }
    .left h2{
        font-size: 24px;
    }
    .left p{
        font-size: 15px;
    }
    .left button{
        font-size: 15px;
    }
    .about-me p{
    font-size: 14px;
    }
    .skills h1{
        font-size: 28px;
        margin-bottom: 60px;
    }
    .skills img{
        height: 120px;
    }
    .projects{
        padding: 20px;
    }
    .projects h2{
        font-size: 30px;
        margin-top:40px ;
        margin-bottom: 30px;
    }
    .projects h1{
        font-size: 29px;
    }
    .carousel-container{
        max-width: 82vw;
    }
    .carousel-item img{
        height: 44vw;
    }
    .overlay{
        height: 44vw;
    }
    .carousel-item p{
        font-size:3.4vw;
    }
    .carousel-btn{
        font-size: 2.2vw;
    }
    .projects span{
        top: 67%;
        font-size: 2.2vw;
    }
    footer{
        padding: 0;
    }
    .contact-item{
        padding: 5px 10px;
    }
    .contact-item i {
        font-size: 1.2rem;
      }
    .contact-item span {
        font-size: 0.8rem;
      }
}