*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.music-player{
    background-color: rgb(218, 251, 255);
    width: 400px;
    padding: 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #077d97;
    font-weight: 700;
    box-shadow: 0 5px 30px rgba(255,20,25,0.22);
}

.music-img{
    height: 280px;
    width: 280px;
    border:10px solid #fff;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    background: url("pngwing.com.png");
    background-size:cover;
}
.music-player h1{
    font-size: 28px;
    color: #333;
    margin-top: 20px;
    font-weight: 400;
}
.music-player p{
    font-size: 14px;
    color: #555555;
    margin-top: 5px;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius:4px ;
    background-color: #077d97;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #077d97;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255,25,26,0.23);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;

}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #077d97;
    box-shadow: 0 5px 5px rgba(255,25,26,0.23);
    cursor: pointer;
    font-size: 27px;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #077d97;
    font-weight: 800;
    color: #fff;
}